ch1/fig1.10-shell2
ch1/fig1.3-ls1
ch1/fig1.4-mycat
ch1/fig1.5-getcputc
ch1/fig1.6-hello
ch1/fig1.7-shell1
ch1/fig1.8-testerror
ch1/fig1.9-uidgid
ch10/fig10.10-read1
ch10/fig10.11-read2
ch10/fig10.15-critical
ch10/fig10.2-sigusr
ch10/fig10.20-mask
ch10/fig10.22-suspend1
ch10/fig10.23-suspend2
ch10/fig10.26-systest2
ch10/fig10.30-sigtstp
ch10/fig10.5-reenter
ch10/fig10.6-child
ch10/fig10.9-tsleep2
ch11/fig11.2-threadid
ch11/fig11.3-exitstatus
ch11/fig11.4-badexit2
ch11/fig11.5-cleanup
ch12/fig12.16-suspend
ch12/fig12.17-atfork
ch12/fig12.8-timeout
ch13/fig13.7-reread
ch13/fig13.8-reread2
ch14/fig14.1-nonblockw
ch14/fig14.12-mandatory
ch14/fig14.32-mcopy
ch14/fig14.7-deadlock
ch15/fig15.11-popen2
ch15/fig15.14-myuclc
ch15/fig15.15-popen1
ch15/fig15.17-add2
ch15/fig15.18-pipe4
ch15/fig15.19-add2stdio
ch15/fig15.31-tshm
ch15/fig15.33-devzero
ch15/fig15.5-pipe1
ch15/fig15.6-pipe2
ch16/fig16.14-ruptime
ch16/fig16.15-ruptimed
ch16/fig16.16-ruptimed-fd
ch16/fig16.17-ruptimed-dg
ch16/fig16.18-ruptime-dg
ch16/fig16.8-findsvc
ch17/fig17.14-bindunix
ch17/fig17.27-main
ch17/fig17.30-main
ch17/fig17.37-main
ch17/fig17.4-spipe4
ch18/fig18.10-settty
ch18/fig18.11-csize
ch18/fig18.14-t_isatty
ch18/fig18.16-t_ttyname
ch18/fig18.18-t_getpass
ch18/fig18.21-t_raw
ch18/fig18.22-winch
ch19/fig19.12-main
ch3/fig3.1-seek
ch3/fig3.10-fileflags
ch3/fig3.2-hole
ch3/fig3.4-mycat
ch4/fig4.12-changemod
ch4/fig4.16-unlink
ch4/fig4.21-zap
ch4/fig4.22-ftw4
ch4/fig4.23-mycd
ch4/fig4.24-cdpwd
ch4/fig4.25-devrdev
ch4/fig4.3-filetype
ch4/fig4.8-access
ch4/fig4.9-umask
ch5/fig5.12-tempfiles
ch5/fig5.13-tempnam
ch5/fig5.4-getcputc
ch5/fig5.5-fgetsfputs
ch7/fig7.1-hello1
ch7/fig7.13-testjmp
ch7/fig7.16-getrlimit
ch7/fig7.3-doatexit
ch7/fig7.4-echoarg
ch7/fig7.9-cmd1
ch8/fig8.1-fork1
ch8/fig8.12-tellwait1
ch8/fig8.13-tellwait2
ch8/fig8.16-exec1
ch8/fig8.17-echoall
ch8/fig8.20-exec2
ch8/fig8.23-systest1
ch8/fig8.24-systest3
ch8/fig8.25-pruids
ch8/fig8.28-test1
ch8/fig8.29-pracct
ch8/fig8.3-vfork1
ch8/fig8.30-times1
ch8/fig8.6-wait1
ch8/fig8.8-fork2
ch9/fig9.11-orphan3
lib/libapue.a
